<?xml version="1.0" encoding="UTF-8"?>
<suite name="Appium Suite">
    <test name="Smoke Tests">
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>
        <classes>
            <class name="deepakjagtap.appium.TestCases"/>
        </classes>
    </test>
</suite>
